<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ with .Site.Params.fediverseCreator }}
  <meta name="fediverse:creator" content="{{ . }}">
  {{ end }}
  <title>{{ if .IsPage }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
  {{partial "seo.html" .}}
  {{ if .Site.Params.favicon }}
  <link rel="icon"
        type="image/x-icon"
        href="/images/{{.Site.Params.favicon}}">
  {{ end }}
  {{ $main := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "" . | toCSS (dict "outputStyle" "compressed") | fingerprint }}
  {{ $bootstrapIcons := resources.Get "css/bootstrap-icons/bootstrap-icons.min.css" | fingerprint }}
  {{ $mastodonEmbedTimeline := resources.Get "css/mastodon-embed-timeline/mastodon-timeline.min.css" | fingerprint }}
  <link rel="stylesheet"
        href="{{ $main.RelPermalink }}"
        integrity="{{ $main.Data.Integrity }}"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="{{ $bootstrapIcons.RelPermalink }}"
        integrity="{{ $bootstrapIcons.Data.Integrity }}"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="{{ $mastodonEmbedTimeline.RelPermalink }}"
        integrity="{{ $mastodonEmbedTimeline.Data.Integrity }}"
        crossorigin="anonymous">
</head>
