/* HEADER */
.site-header {
    background: transparent !important;
    box-shadow: none;
    border-bottom: none !important;
}
.site-header.fixed-top {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent !important;
    box-shadow: none;
}

/* NAVBAR */
nav.navbar {
    background: rgba(7, 7, 7, 0.61) !important;
    
}
.navbar .nav-link {
    color: #E6C15A !important;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.navbar .nav-link:hover {
    color: #ffdd6d !important;
    text-decoration: underline;
    background-color: transparent !important;
    transition: 0.5s;
}

/* ZURÜCK BTN */
.back-btn{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 17px;
    text-decoration: none;
    color: #333;
}
.back-btn:hover {
    text-decoration: underline;
    color: #333;
}


/* HIGHLIGHTS HOMEPAGE */
.highlights {
    background: linear-gradient(
        rgb(7, 20, 37),
        rgba(255, 255, 255, 0),
        rgb(139, 139, 139)
            
        ),
        url('/images/mamor.jpg');

    background-size: cover;
    background-position: center;
    margin-top: 20px;
    padding: 40px 0 30px 0;
}
.highlight-body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
    transition:all 0.3s ease;
}
.highlights .card {
    height: 220px;
    overflow: hidden;
    background-color: #ffffff !important;
    color: #0b3d5c !important;
    border: 5px solid #ffffff; 
    border-radius: 10px;
    text-align: center;
     box-shadow:  0 15px 30px rgba(0,0,0,0.25);
}

.highlights .card-title {
    background-color: #dfeef7  !important;
    color:  #0b3d5c !important;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
    width: 150px;
    margin: 0 auto 15px auto;
}

.highlight-card {
    border-radius:12px;
    min-height: 180px;
 
}
.highlight-card:hover{
    transform: none !important;
    box-shadow:0 20px 40px rgba(0,0,0,0.12);
}

.highlight-icon{
    background:#ffffff00;
    border-radius:70px;
    height: 70px;
    width: 70px;

    display:flex;             
    align-items:center;       
    justify-content:center; 

    transition: all 0.3s ease;
}
.highlight-card:hover .highlight-icon{
    opacity:0;
    height:0;
    padding:0;
    margin:0;
}
.highlight-title{
    transition: margin 0.3s ease;
    font-weight: bold;
}
.highlight-card:hover .highlight-title{
    margin-top:0px;
}

.highlight-info{
    opacity:0;
    max-height:0;
    max-width: 320px;
    margin: 0 auto;
    padding:0 10px;
    overflow:hidden;
    transition: all 0.3s ease;
}

.highlight-card:hover .highlight-info{
    opacity:1;
    max-height:100px;
}


@media (max-width: 768px) {

.highlights .card {
    border-radius: 25px;
    padding: 8px;
    box-shadow:  0 15px 30px rgba(0,0,0,0.25);
}

.highlights .card-title {
    width: 90px;
    padding: 6px;
}

.highlight-card i {
    font-size: 30px !important;
}

}
/* CONTENT CARDS HOMEPAGE*/
.sections {
    padding: 10px 0;
    background-color: white;
}
.sections .card {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
    max-height: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.card-img-top{
    height: 250px;
    object-fit: cover;  
}
.sections .card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

/* CONTENT SINGLEPAGE */
.content-card {
    border: none;
    border-radius: 18px;

    padding: 0.5rem;

    background: #ffffff;

    box-shadow:
        0 4px 12px rgba(0,0,0,0.06),
        0 1px 3px rgba(0,0,0,0.04);

    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.content-card::before {
    content: "";

    display: block;
    

    height: 7px;
    width: full;

    border-radius: 999px;

    background: #123b5d;

    margin-bottom: 1rem;
}

.content-card .card-title {
    font-weight: 700;
    color: #123b5d;
}

.content-card .card-text {
    line-height: 1.7;
    font-size: 1.3rem;
    text-align: left;
    color: #444;
}

.content-card i {
    color: #0d4f7c;
}

/* POST CARDS HOMEPAGE UND BUTTON "View more" */
.posts{
    margin-bottom: 50px;
    padding: 40px 0px 0px 0px;
    background: linear-gradient(
        rgb(136, 136, 136),
        rgba(255, 255, 255, 0),
        rgb(255, 255, 255)
        
        ),url('/images/mamor.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.posts .card {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
}
.posts .card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0,0,0,0.65);
}
.posts .card-img-top {
    height: 250px;
    object-fit: cover;      
}
.posts-button {
    background-color: transparent !important;
    border-color: #000000;
    color: #000000;
    
}
.posts-button:hover {
    background-color: #000000ab  !important;
    color: #ffffff;
    border-color: #ffffff;
}

/* POSTS LIST VIEW */
.post-list-item {
    padding: 15px;
    border-radius: 8px;
    transition: 0.2s;
}
.post-list-item:hover {
    background-color: #f8f9fa;
}
.post-list-item img {
    aspect-ratio: 4/3;
    object-fit: cover;
}
.post-pagination {
    margin-bottom: 60px;
    margin-top: 50px;
}
.post-image {
    width: 100%;
    height: 320px;
    min-height: 200px;
    object-fit: cover;
}
.post-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    background-color: red;
}
.post-card {
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.25s;
    background: white;
}
.post-card .card-body {
    padding: 20px;
}
.card-title.posttitle{
    font-weight: bold; 
}
.posttitle a{
    color: #136ba1;
}
.posttitle a:hover{
    color: #6ea8fe;
}

/* BODY UND BANNER */
body {
    padding-top: 70px !important;
}

#banner {
    min-height: 100px;
    background-size: cover;
    background-position: center;
}
#banner-wrapper {
    margin-top: -70px;
    height: calc(272px - 70px);
}

/* SECTIONS SINGLE PAGE */
.section-header-base{
    margin-top: 66px;
    margin-bottom: 0px;
    background-color: #74747400 !important; /*Hintergtund Seitentitel. Aktuell transparent, maybe unnötig*/
    color: #0b3d5c;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1.Contentpage {
    font-weight: 600 !important;
    font-size: 350%;
    text-shadow: #000000;
}

.single-page {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.897),
        rgba(18, 56, 184, 0.356),
        rgb(255, 255, 255)
        
        ), url('/images/single.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -70px;
}

.benevity-images {
    display: flex;
    justify-content: center;
    word-spacing: 400%;
    flex-wrap: wrap;
}

.benevity-images p {
    margin: 0;
}

.card-text a {
    color: #0b3d5c;
}

.card-text a:hover {
    color: #0b3d5c88;
}

.card-text img{
    width: 320px;
    height: auto;
}


/* FORMULAR MITGLIEDSANTRAG */
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 130px;
    margin-bottom: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
}

.form-group input {
    padding: 8px;
    border: 1px solid #999;
    border-radius: 4px;
}

/* PDF EXPORT BUTTON */
.pdf-btn {
    margin-bottom: 3rem;
    padding: 12px 24px;

    background: #0d4f7c;
    color: white;

    border: none;
    border-radius: 10px;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    transition: all 0.2s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.pdf-btn:hover {
    background: #13639b;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.pdf-btn:active {
    transform: translateY(0);
}

/* POSTS SINGLE PAGE */

.project-hero {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    margin-top: -70px;

    position: relative;
}

/* Overlay */

.project-overlay {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding:
        clamp(1rem, 4vw, 4rem);
}

/* Glass paper card */

.project-paper {
    margin-top: 100px;
    width: 100%;
    max-width: 1100px;

    padding:
        clamp(2rem, 5vw, 3rem);

    background:
    linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.6) ,
        rgba(255, 255, 255, 0.75) ,
        rgba(255,255,255,0.9) ,
        rgba(255,255,255,1)
    );

    box-shadow:
        0 20px 60px rgba(0,0,0,0.28);

    overflow: hidden;
}

/* Title */

.project-paper h1 {
    font-size:
        clamp(2.5rem, 6vw, 4.8rem);

    line-height: 1.05;

    color: #123b5d;

    margin-bottom: 1rem;
}

/* Meta */

.project-meta {
    color: #666;

    font-size: 0.95rem;

    margin-bottom: 1rem;
}

/* Content */

.project-content {
    font-size: 1.15rem;

    line-height: 1.9;

    color: #2c2c2c;
}

.project-content p {
    margin-bottom: 1.8rem;
}

/* Images inside article */

.project-content img {
    width: 100%;

    border-radius: 20px;

    margin: 2.5rem 0;

    box-shadow:
        0 12px 30px rgba(0,0,0,0.18);
}

/* Headings */

.project-content h2,
.project-content h3 {
    color: #123b5d;

    margin-top: 3rem;
}

/* Mobile */

@media (max-width: 768px) {

    .project-paper {
        border-radius: 24px;
    }

    .project-content {
        font-size: 1rem;
    }

    .project-paper h1 {
        line-height: 1.15;
    }
}

/* Mobile: untereinander */
@media (max-width: 600px) {
    .form-row {
        grid-template-columns: 1fr;
    }
}